<!DOCTYPE html>
<html>
<head>
</head>
    <body>
        <button id="collapse-actor-select" class="button">
            <i class="fa-solid fa-circle-chevron-left"></i>
            <i class="fa-solid fa-circle-chevron-right hidden"></i>
        </button>
        <button id="increase-font" class="button"><i class="fas fa-plus"></i></button>
        <button id="decrease-font" class="button"><i class="fas fa-minus"></i></button>
        <button id="reset-font" class="button"><i class="fas fa-undo"></i></button>
        <button id="so-log-out" class="button"><i class="fas fa-sign-out-alt"></i></button>
    </body>
</html>