<!DOCTYPE html>
<html>
<head>
</head>
    <body>
        <div id="so-main-buttons">
            <button id="so-collapse-actor-select" class="button">
                <i class="fa-solid fa-circle-chevron-left"></i>
                <i class="fa-solid fa-circle-chevron-right hidden"></i>
            </button>

            <button id="so-toggle-chat" class="button"><i class="fa-solid fa-comment-dots"></i></button>
            <button id="so-targeting" class="button"><i class="fa-solid fa-bullseye"></i></button>
            <button id="so-journal" class="button"><i class="fa-solid fa-book"></i></button>
            <button id="so-controlling" class="button"><i class="fa-solid fa-person-walking"></i></button>
            <button id="so-morph-search" class="button" style="display: none">
                <span class="fa-stack">
                    <i class="fa-solid fa-spaghetti-monster-flying fa-stack-1x"></i>
                    <i class="fa-solid fa-ban fa-stack-2x" style="display: none"></i>
                </span>
            </button>
        </div>

        <div id="so-settings-buttons" style="display: none">
            <button id="so-increase-font" class="button"><i class="fas fa-plus"></i></button>
            <button id="so-decrease-font" class="button"><i class="fas fa-minus"></i></button>
            <button id="so-reset-font" class="button"><i class="fas fa-undo"></i></button>

            <button id="so-fullscreen" class="button"><i class="fa-solid fa-maximize"></i></button>
            <button id="so-fvtt-settings" class="button"><i class="fa-solid fa-gears"></i></button>
            <button id="so-log-out" class="button"><i class="fas fa-sign-out-alt"></i></button>
        </div>

        <div id ="so-menu-button">
            <button id="so-menu" class="button"><i class="fa-solid fa-bars"></i></button>
        </div>
    </body>
</html>
