<div class="sheet-only flexcol" style="height:100%;">
    <div class="dialog-content" style="max-height: calc(100% - 32px);">
        <form style="height:100%;" class="flexcol">
            <div class="sheet">
                <ol class="items-list inventory-list">
                    <li class="items-header flexrow">
                        <h3 class="item-name flexrow noborder" style="margin-right:auto;">{{localize 'Sheet-Only.players'}}</h3>
                        <div>
                            <label>Use Sheet Only</label>
                        </div>
                        <div>
                            <label>Allow Observer Role</label>
                        </div>
                        <div>
                            <label>Activation screen width</label>
                        </div>
                    </li>

                    <ol class="item-list">
                        {{#each players}}
                        <li class="item flexrow" data-item-id="{{this.id}}">
                            <div class="item-name flexrow rollable">
                                <h4>
                                    {{this.name}}
                                </h4>
                            </div>
                            <div class="item-controls flexcol">
                                <input type="checkbox" {{#if this.display}}checked{{/if}} class="display" />
                            </div>
                            <div class="item-controls flexcol">
                                <input type="checkbox" {{#if this.allowObserver}}checked{{/if}} class="allowObserver" />
                            </div>
                            <div class="item-controls flexcol">
                                <input type="number" min="0" placeholder="Screen Width to activate" value={{this.screenwidth}} class="screenwidth" title="Only activate if the screen width is smaller than entered value. Set to 0 to not check screen width."/>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </ol>
            </div>
        </form>
    </div>
    <hr style="width: 60%;flex: 0 0 1px;" />
    <div class="dialog-buttons" style="flex: 0 0 30px;">
        <button type="submit" name="submit" class="dialog-buttons save" data-button="request"><i class="far fa-save"></i>{{localize 'Sheet-Only.button.save'}}</button>
    </div>
</div>
