.sheet-only-sheet.dnd5e2.sheet.actor.character {
  min-width: unset;
  min-height: unset;
  width: 100% !important;

  .item-detail.item-controls {
    width: 100px;
    right: 20px;

    .config-button {
      transform: scale(1.8);
      padding: unset;
    }
  }

  nav.tabs {
    flex-direction: row;
    z-index: 1;
    right: 20rem;
    left: auto;
    top: 104px;

    border-left: 1px solid var(--dnd5e-color-gold);
    border-radius: 5px;
    width: auto;
    gap: .5rem;

    .item {
      justify-content: center;
      padding-right: 0;
      border-radius: 8px;
      position: relative;
      border: none;
      background: var(--dnd5e-color-black);
      color: var(--dnd5e-color-gold);
      height: 40px;
      margin: 0;
      box-shadow: 0 0 6px var(--dnd5e-shadow-45);
      font-size: var(--font-size-14);
      display: grid;
      place-content: center;
      line-height: normal;

      &.control {
        min-width: 40px;
      }


      ::after {
        content: "";
        position: absolute;
        inset: 3px;
        border: 1px solid var(--dnd5e-color-gold);
        border-radius: 3px;
      }
    }
  }

  .tab-details .tab-body {
    padding-top: 75px;
  }

  .sheet-header {
    .left {
      .document-name {
        font-size: 2.4rem;
      }
    }
  }

  .ability-scores {
    .rows {
      padding: 10px 0;
      margin-top: 8.75rem;
      backdrop-filter: blur(2px);
      border-radius: 0 0 10px 10px;

      .top {
        display: none;
      }
    }
  }
}