/*DnD 5th Edition v1 (2.1.4 and lower)*/
.dnd5e.sheet.actor.character.sheet-only-sheet{
    min-width: auto;
}
.dnd5e.sheet.actor.character.sheet-only-sheet .sheet-header img.profile{
    border: none;
}
.dnd5e.sheet.actor.character.sheet-only-sheet .sheet-header .header-details{
    border-left: 2px groove #eeede0;
}
.dnd5e.sheet.actor.character.sheet-only-sheet .tab.attributes{
    overflow: auto;
}
.dnd5e.sheet.actor.character.sheet-only-sheet .sheet-navigation{
    flex: 0 0 60px;
    flex-wrap: wrap;
}
.dnd5e.sheet.actor.character.sheet-only-sheet .sheet-navigation .item{
    flex: 1 0 25%;
}
.dnd5e.sheet.actor.character.sheet-only-sheet .sheet-header .attributes .attribute{
    flex: 1 0 33%;
    border:none;
    border-bottom: 2px groove #eeede0;
    border-left: 2px groove #eeede0;
}
.dnd5e.sheet.actor.character.sheet-only-sheet .skills-list{
    flex: auto;
}
.dnd5e.sheet.actor.character.sheet-only-sheet .center-pane{
    flex: 1 0 100%;
    overflow-y: visible;
}
.sheet-only-container .dnd5e.sheet.sheet-only-sheet .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    color: #7a7971;
}
.sheet-only-container .dnd5e.sheet.sheet-only-sheet .items-list .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
}
.sheet-only-container .dnd5e.sheet.sheet-only-sheet .items-list .item-name {
    flex: 1;
    margin: 0;
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    align-items: center;
}
.sheet-only-container .dnd5e.sheet.sheet-only-sheet .items-list .item-name h3, .sheet-only-container .dnd5e.sheet.sheet-only-sheet .items-list .item-name h4 {
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
}
.sheet-only-container .dnd5e.sheet.sheet-only-sheet .items-list .item {
    align-items: center;
    padding: 0 2px;
    border-bottom: 1px solid #c9c7b8;
}
.sheet-only-container .dnd5e.sheet.sheet-only-sheet .items-list .item:last-child {
    border-bottom: none;
}
.sheet-only-container .dnd5e.sheet.sheet-only-sheet .items-list .item .item-name {
    color: #191813;
}
.sheet-only-container .dnd5e.sheet.sheet-only-sheet .items-list .item .item-name .item-image {
    flex: 0 0 30px;
    height: 30px;
    width: 30px;
    background-size: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin-right: 5px;
    text-align: center;
}
.sheet-only-container .dnd5e.sheet.sheet-only-sheet .items-list .item .item-name .item-image {
    flex: 0 0 48px;
    width: 48px;
}
.sheet-only-container .dnd5e.sheet.sheet-only-sheet .items-list .item-controls {
    flex: 0 0 90px;
    text-align: center;
}
.sheet-only-container .dnd5e.sheet.sheet-only-sheet .items-list .item-controls .item-control {
    flex: 0 0 25px;
}
.sheet-only-container .dnd5e.sheet.sheet-only-sheet .items-list .item-controls > input {
    margin: auto;
}
.sheet-only-container .dnd5e.sheet.sheet-only-sheet .items-list .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
}
.sheet-only-container .dnd5e.sheet.sheet-only-sheet .items-list .items-header .item-control {
    font-weight: normal;
    flex: 0 0 90px;
    font-size: 12px;
    text-align: center;
}
.sheet-only-container .dnd5e.sheet.sheet-only-sheet .items-list .items-header h3 {
    padding-left: 5px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-weight: 700;
    text-align: left;
    font-size: 16px;
    min-width: 60px;
}

/*DnD 5th Edition v2 (3.0.0 and higher)*/
.sheet-only-sheet.dnd5e2.sheet.actor.character {
    min-width: unset;
    min-height: unset;
}
.sheet-only-sheet.dnd5e2.sheet.actor.character .tab-details .tab-body {
    padding-top: 75px;
}
.sheet-only-sheet.dnd5e2.sheet.actor.character nav.tabs {
    flex-direction: row; 
    gap: 0.75rem; 
    z-index: 1; 
    right: 5px; 
    left: auto; 
    top: 104px;
}
.sheet-only-sheet.dnd5e2.sheet.actor.character nav.tabs > .item {
    justify-content: center;
    padding-right: 0;
    border-radius: 8px;
}
.sheet-only-sheet.dnd5e2.sheet.actor.character nav.tabs > .item.active,
.sheet-only-sheet.dnd5e2.sheet.actor.character nav.tabs > .item:hover {
    margin-left: calc((var(--tab-full-width) - var(--tab-inactive-width)) * -1);
}

.sheet-only-sheet.dnd5e2.sheet.actor.character .sheet-header > .left .document-name {
    font-size: 2.4rem;
}
.sheet-only-sheet.dnd5e2.sheet.actor.character .sheet-header > .right > div:last-child {
    margin-top: -1rem;
}
.sheet-only-sheet.dnd5e2.sheet.actor.character .ability-scores .rows > .top {
    display: none;
}
.sheet-only-sheet.dnd5e2.sheet.actor.character .ability-scores .rows {
    padding: 0;
    margin-top: 8.75rem;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(2px);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
}

.sheet-only-sheet.dnd5e2.sheet.actor.character nav.tabs > .item {
    justify-content: center;
    padding-right: 0;

    position: relative;
    border: none;
    border-radius: 4px;
    background: var(--dnd5e-color-black);
    color: var(--dnd5e-color-gold);
    width: 40px;
    height: 40px;
    margin: 0;
    box-shadow: 0 0 6px var(--dnd5e-shadow-45);
    font-size: var(--font-size-14);
    display: grid;
    place-content: center;
    line-height: normal;
}

.sheet-only-sheet.dnd5e2.sheet.actor.character nav.tabs > .item::after {
    content: "";
    position: absolute;
    inset: 3px;
    border: 1px solid var(--dnd5e-color-gold);
    border-radius: 3px;
}