/*Sheet Only Styling*/
.sheet-only-hide,
.sheet-only-sheet > header,
#roll-hd {
    display: none !important;
}

.sheet-only-sheet {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.sheet-only-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    justify-items: flex-start;
    overflow: hidden;
    /*z-index: 200;*/
}

.sheet-only-container > .button-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 9999; /* Higher z-index value */
}

.sheet-only-container > .button-container > .button {
    cursor: pointer;
}

.sheet-only-actor-list {
    display: flex;
    flex-direction: column;
    background-color: rgb(0 0 0 / 90%);
    justify-items: flex-start;
    padding: 5px;
    gap: 3px;
    flex-shrink: 0;
    position: absolute;
    z-index: 200;
    height: 100vh;
    width: 33vw;
    max-width: 200px;
    border-right: 10px solid rgb(68 68 68 / 90%);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all 250ms;
    overflow: auto;
}

.sheet-only-actor-list.collapse {
    display: none;
}

.sheet-only-chat {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(0 0 0 / 15%);
    z-index: 200;
    right: 0;
    height: 75vh;
    width: var(--sidebar-width);
    border: #7a7971;
    border-bottom-left-radius: 5px;
    transition: all 250ms;
    overflow: auto;
}

#chat-form{
    display: none;
}

section.chat-sidebar .jump-to-bottom  {
    position: relative;
    top: 0;
    /*right: 50vw;*/
}


.sheet-only-chat.collapse {
    display: none;
}

.sheet-only-actor-list img {
    border: none;
}