@media (max-width: 800px) {
    .sheet-only-sheet.small-display  {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 53px;
    }

    .sheet-only-container.small-display {
        padding-bottom: 53px;
    }

    .sheet-only-chat {
        padding-top: 35px;
        padding-bottom: 53px;
    }

    #so-main-buttons.small-display{
        display: flex !important;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
    }

    #so-main-buttons.small-display > button {
        height: 100%;
        width: 100%;
    }

    #so-main-buttons.small-display > button > i {
        font-size: 24px;
    }

    /** Display jump fix */
    #hud {
        display: none;
    }

    .sheet-only-sheet {
        margin-top: 0;
        margin-bottom: 0;
    }

    /* Item dialog improvements */
    .window-app {
        min-width: auto !important;
        max-width: 100vw;
    }

    .window-app.sheet.item {
        min-width: 100vw !important;
        max-height: 85%;
    }

    /* For Real-Dice Module*/
    body > div.real-roll {
        z-index: 10000 !important;
        top: 30dvh !important;
        left: calc(50dvw - 100px) !important;
    }

    /* v12 native manual roll resolver*/
    body > .roll-resolver {
        z-index: 10000 !important;
        top: 30vh !important;
        left: 50% !important;
        transform: translateX(-50%);
        max-width: 100vw;
    }
}



