.sheet-only > header{
    display: none !important;
}

.notification {
    display: none !important;
}

#roll-hd{
    display: none;
}

.sheet-only .sheet .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    color: #7a7971;
}

.sheet-only .sheet .items-list .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
}

.sheet-only .sheet .items-list .item-name {
    flex: 1;
    margin: 0;
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    align-items: center;
}

.sheet-only .sheet .items-list .item-name h3, .sheet-only .sheet .items-list .item-name h4 {
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
}

.sheet-only .sheet .items-list .item {
    align-items: center;
    padding: 0 2px;
    border-bottom: 1px solid #c9c7b8;
}

.sheet-only .sheet .items-list .item:last-child {
    border-bottom: none;
}

.sheet-only .sheet .items-list .item .item-name {
    color: #191813;
}

.sheet-only .sheet .items-list .item .item-name .item-image {
    flex: 0 0 30px;
    height: 30px;
    width: 30px;
    background-size: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin-right: 5px;
    text-align: center;
}

.window-content .sheet-only .sheet .items-list .item .item-name .item-image {
    flex: 0 0 48px;
    width: 48px;
}

.sheet-only .sheet .items-list .item-controls {
    flex: 0 0 90px;
    text-align:center;
}

.sheet-only .sheet .items-list .item-controls .item-control {
    flex: 0 0 25px;
}

.sheet-only .sheet .items-list .item-controls > input {
    margin: auto;
}

.sheet-only .sheet .items-list .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
}

.sheet-only .sheet .items-list .items-header .item-control {
    font-weight: normal;
    flex: 0 0 90px;
    font-size: 12px;
    text-align: center;
}

.sheet-only .sheet .items-list .items-header h3 {
    padding-left: 5px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    font-size: 16px;
    min-width: 60px;
}