/*Sheet Only Styling*/
.sheet-only-hide,
.sheet-only-sheet > header,
#roll-hd {
    display: none !important;
}


@media (max-width: 800px) {
    /* Item dialog improvements */
    .window-app {
        min-width: auto !important;
        max-width: 100vw;
    }
    .window-app.sheet.item {
        min-width: 100vw !important;
        max-height: 85%;
    }

    .dnd5e.sheet .sheet-navigation {
        gap: 10px;
        justify-content: space-around;
    }
    .dnd5e.sheet .sheet-navigation .item {
        margin: 0;
    }
}

.sheet-only-sheet {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.sheet-only-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    justify-items: flex-start;
    overflow: hidden;
}

.sheet-only-container > .button-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 99999;
}

.sheet-only-container > .button-container > .button {
    cursor: pointer;
}

.sheet-only-actor-list {
    display: flex;
    flex-direction: column;
    background-color: rgb(0 0 0 / 90%);
    justify-items: flex-start;
    padding: 5px 5px 20vh;
    gap: 3px;
    flex-shrink: 0;
    position: absolute;
    z-index: 99999;
    height: 100vh;
    width: 33vw;
    max-width: 200px;
    border-right: 10px solid rgb(68 68 68 / 90%);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all 250ms;
    overflow-y: scroll;
}

.sheet-only-actor-list.collapse {
    display: none !important;
}

#so-main-buttons, #so-settings-buttons, #so-menu-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.sheet-only-chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: absolute;
    background-color: rgb(0 0 0 / 15%);
    right: 0;
    min-height: 30px;
    max-height: 100%;
    width: var(--sidebar-width);
    z-index: 500;
    border: #7a7971;
    border-bottom-left-radius: 5px;
    transition: all 250ms;
    overflow: auto;
}

.sheet-only-chat.fullscreen {
    width: 100%;
}

.dragged {
    transform: scale(1.1);
    box-shadow: #191813 0 0 10px;
    overflow: hidden;
}

.dragged * {
    overflow: hidden;
}

/* chat input box */
.sheet-only-chat #chat-form,
.sheet-only-chat #chat-controls,
.sheet-only-chat .dice-tray {
    display: none;
}

.sheet-only-chat.collapse {
    display: none;
}

.sheet-only-actor-list img {
    border: none;
}