@media only screen and (max-width: 500px){
    .dnd5e.sheet.actor.character.sheet-only-sheet .item-detail.item-weight{
        display: none;
    }
    .dnd5e.sheet.actor.character.sheet-only-sheet .spell-school{
        display: none;
    }
}
@media only screen and (max-width: 575px){
    .dnd5e.sheet.actor.character.sheet-only-sheet .item-detail.item-quantity{
        display: none;
    }
    .dnd5e.sheet.actor.character.sheet-only-sheet .spell-target{
        display: none;
    }
}
@media only screen and (max-width: 615px){
    .dnd5e.sheet.actor.character.sheet-only-sheet .inventory-filters .currency h3{
        display: none;
    }
}

/*DnD 5th Edition v2 (3.0.0 and higher)*/
@media only screen and (max-width: 523px){
    .sheet-only-container .dnd5e2.sheet.actor.character.sheet-only-sheet .ability-scores .rows > div {
        gap: 1rem; 
        flex-wrap: wrap;
    }
    .sheet-only-container .dnd5e2.sheet.actor.character.sheet-only-sheet .ability-scores .ability-score {
        flex: 0 0 30%;
    }
    .sheet-only-container .dnd5e2.sheet.actor.character.sheet-only-sheet .tab-details .tab-body {
        padding-top: 160px;
    }
}
