@media only screen and (max-width: 500px){
    .dnd5e.sheet.actor.character.sheet-only-sheet .item-detail.item-weight{
        display: none;
    }
    .dnd5e.sheet.actor.character.sheet-only-sheet .spell-school{
        display: none;
    }
}
@media only screen and (max-width: 575px){
    .dnd5e.sheet.actor.character.sheet-only-sheet .item-detail.item-quantity{
        display: none;
    }
    .dnd5e.sheet.actor.character.sheet-only-sheet .spell-target{
        display: none;
    }
}
@media only screen and (max-width: 615px){
    .dnd5e.sheet.actor.character.sheet-only-sheet .inventory-filters .currency h3{
        display: none;
    }
}